@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #2E1A78;
}

.logo img {
    height: 45px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.user {
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}

.title-box {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg, #2E1A78, #4F46E5);
    color: white;
    padding: 15px;
    border-radius: 20px 20px 0 0 ;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.back-arrow {
    position: absolute;
    left: 25px;
    cursor: pointer;
}



.card-container {
    width: 700px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.card-big {
    width: 100%;
    /* margin: 0 auto; */
    padding: 40px;
    border-radius: 0 0 20px 20px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    gap: 30px;
}


.profile-header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.claudio {
  width: 300px;
  /* height: auto; */
  border-radius: 8px;
    /* margin-right: 40px;
    margin-bottom: 20px;     */
}

.dot {
    width: 8px;
    height: 8px;
    background: #22c55e;
    border-radius: 50%;
    display: inline-block;
}

.profile-info{
    flex: 1;
}

.name-section h2{
    color: #2E1A78;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.role{
    color:#6366F1;
    font-weight: 600;
}

.status{
    font-size: 12px;
    color:#71717a;
    display: flex;
    align-items: center;
    gap: 5px;
}

.overview h3, .skills-section h3{
    font-size: 16px;
    color: #3f3f46;
    margin: 20px 0 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 14px;
}

.info-item strong { display: block; color: #333; }
.info-item span { color: #71717a; font-size: 12px; }

/* Seção de Habilidades */
.skills-section {
    text-align: center;
    margin-top: 10px;
}

.skills-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    background: white;
    border: 2px solid #6366F1;
    border-radius: 12px;
    padding: 25px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #2E1A78;
    font-weight: 600;
    font-size: 14px;
    transition: transform 0.2s;
}

.skill-card img {
    width: 50px;
}

