@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }


 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 50px;
     background: #2E1A78;
 }

 .logo img {
     height: 45px;
 }

 nav {
     display: flex;
     align-items: center;
     gap: 30px;
 }

 nav a {
     color: white;
     text-decoration: none;
     font-size: 14px;
     font-weight: 600;
 }

 .user {
     width: 35px;
     height: 35px;
     background: white;
     border-radius: 50%;
 }